.transform{
	--tw-translate-x: 0;
	--tw-translate-y: 0;
	--tw-rotate: 0;
	--tw-skew-x: 0;
	--tw-skew-y: 0;
	--tw-scale-x: 1;
	--tw-scale-y: 1;
	transform: translateX(var(--tw-translate-x)) translateY(var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  }
  
  .hover\:scale-125:hover{
	--tw-scale-x: 1.25;
	--tw-scale-y: 1.25;
  }
  
  .transition{
	transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
	transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
	transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 150ms;
  }
  
  .ease-out{
	transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
  
  .duration-300{
	transition-duration: 300ms;
  }
  
  .duration-500{
	transition-duration: 500ms;
  }
  
  @-webkit-keyframes spin{
	to{
	  transform: rotate(360deg);
	}
  }
  
  @keyframes spin{
	to{
	  transform: rotate(360deg);
	}
  }
  
  @-webkit-keyframes ping{
	75%, 100%{
	  transform: scale(2);
	  opacity: 0;
	}
  }
  
  @keyframes ping{
	75%, 100%{
	  transform: scale(2);
	  opacity: 0;
	}
  }
  
  @-webkit-keyframes pulse{
	50%{
	  opacity: .5;
	}
  }
  
  @keyframes pulse{
	50%{
	  opacity: .5;
	}
  }
  
  @-webkit-keyframes bounce{
	0%, 100%{
	  transform: translateY(-25%);
	  -webkit-animation-timing-function: cubic-bezier(0.8,0,1,1);
			  animation-timing-function: cubic-bezier(0.8,0,1,1);
	}
  
	50%{
	  transform: none;
	  -webkit-animation-timing-function: cubic-bezier(0,0,0.2,1);
			  animation-timing-function: cubic-bezier(0,0,0.2,1);
	}
  }
  
  @keyframes bounce{
	0%, 100%{
	  transform: translateY(-25%);
	  -webkit-animation-timing-function: cubic-bezier(0.8,0,1,1);
			  animation-timing-function: cubic-bezier(0.8,0,1,1);
	}
  
	50%{
	  transform: none;
	  -webkit-animation-timing-function: cubic-bezier(0,0,0.2,1);
			  animation-timing-function: cubic-bezier(0,0,0.2,1);
	}
  }
  
  .card {
	--tw-bg-opacity: 1;
	background-color: rgba(255, 255, 255, var(--tw-bg-opacity));
	border-radius: 0.25rem;
	overflow: hidden;
	position: relative;
	--tw-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
	box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  }
  
  .badge {
	--tw-bg-opacity: 1;
	background-color: rgba(226, 226, 213, var(--tw-bg-opacity));
	border-radius: 9999px;
	font-weight: 700;
	font-size: 0.75rem;
	line-height: 1rem;
	margin-top: 0.5rem;
	margin-left: 0.5rem;
	padding: 0.5rem;
	position: absolute;
	top: 0px;
	--tw-text-opacity: 1;
	color: rgba(136, 56, 131, var(--tw-text-opacity));
	text-transform: uppercase;
  }
  
  .btn {
	border-radius: 9999px;
	cursor: pointer;
	font-weight: 700;
	font-size: 0.75rem;
	line-height: 1rem;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	padding-left: 0.75rem;
	padding-right: 0.75rem;
	text-transform: uppercase;
	letter-spacing: 0.05em;
  }